<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">ລາຄາດີ</a>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="Navber">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/">ຫນ້າທໍາອິດ<span class="sr-only">(現位置)</span></a>
			</li>
				<li class="nav-item">
			<a class="nav-link" href="/aboutus">ຕິດຕໍ່</a>
			</li>
		</ul>
		<ul class="navbar-nav navbar-right">
			<li class="nav-item"><a class="nav-link" href="{{ url_for('user_new') }}">ສ້າງຜູ້ໃຊ້ໃຫມ່</a></li>
			<li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
			<li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
		</ul>
	</div><!-- /.navbar-collapse -->
</nav>

