{% from 'helpers/_forms.html' import generate_fields with context %}<!DOCTYPE html>
<html lang="la">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %} | ລາຄາດີ </title>
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
		<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
		<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/tooltip.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap-confirmation.min.js') }}"></script>
		{% block script %}{% endblock %}
	</head>
	<body>
		{% block header %}{% endblock %}
		<div class="container">
			{# Flashed messages #}
			{% with messages = get_flashed_messages(with_categories=true) %}
			  {% if messages %}
				{% for category, message in messages %}
				  <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
				{% endfor %}
			  {% endif %}
			{% endwith %}
			{# End Flashed messages #}
			{% block body %}{% endblock %}
		</div>
		{% block footer %}{% endblock %}
	</body>
</html>
