{% extends 'layouts/master.html' %}
{% block title %}View{% endblock %}
{% block header %}{% include 'layouts/header_real_estate.html' %}{% endblock %}
{% block body %}
<h1>ລາຍຊື່ ດິນ, ເຮືອນ</h1>
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">ຫົວຂໍ້</th>
			<th scope="col">ລາຍລະອຽດ</th>
			<th scope="col">ອີເມວ</th>
			<th scope="col">ເບີໂທລະສັບ</th>
			<th scope="col">status</th>
			<th scope="col">image</th>
			<td></td>
		</tr>
	</thead>
	<tbody>
	{% for real_estate in real_estates %}
		<tr>
			<td>{{ real_estate.name }}</td>
			<td>{{ real_estate.description }}</td>
			<td>{{ real_estate.email }}</td>
			<td>{{ real_estate.phone }}</td>
			<td>{{ real_estate.complete_flag }}</td>
			<td><img src="{{ real_estate.img1 }}" width="120"></td>
			<td class="text-right">
				<div class="row">
					<form action="{{ url_for('real_estate_delete') }}" method="post" class="pull-right">
						<input type="hidden" name="id" value="{{ real_estate.id }}">
						<input type="submit" class="btn btn-danger" data-toggle="confirmation" value="Delete">
					</form>
					<a class="btn btn-primary pull-right" href="{{ url_for('real_estate_edit', id=real_estate.id) }}">Edit</a>

					<!--
					<a class="btn btn-primary pull-right" href="{{ url_for('image_new_id', id=real_estate.id) }}">Image</a>
					<form action="{{ url_for('image_new_id', id=real_estate.id) }}" method="post" class="pull-right">
						<input type="hidden" name="id" value="{{ real_estate.id }}">
						<img id="img_{{ real_estate.id }}" style="width:300px;height:300px;">
						<input type="file" id="real_estate_{{ real_estate.id }}" class="btn">
					</form>
					//-->
				</div>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

<script>
$('[data-toggle=confirmation]').confirmation({
        rootSelector: '[data-toggle=confirmation]',
        //btnOkLabel: 'Si',
        //btnCancelLabel: 'No'
});
</script>

{% endblock %}
