{% extends 'layouts/master.html' %}
{% block title %}View{% endblock %}
{% block header %}{% include 'layouts/header_user.html' %}{% endblock %}
{% block body %}
<h1>Users List</h1>
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">ຊື່</th>
			<th scope="col">ນາມສະກຸນ</th>
			<th scope="col">Username</th>
			<th scope="col">ລະຫັດຜ່ານ</th>
			<th scope="col">ອີເມວ</th>
			<th scope="col">ເບີໂທລະສັບ</th>
			<td></td>
		</tr>
	</thead>
	<tbody>
	{% for user in users %}
		<tr>
			<td>{{ user.first_name }}</td>
			<td>{{ user.family_name }}</td>
			<td>{{ user.username }}</td>
			<td>{{ user.password }}</td>
			<td>{{ user.email }}</td>
			<td>{{ user.phone }}</td>
			<td class="text-right">
				<div class="row">
					<form action="{{ url_for('user_delete') }}" method="post" class="pull-right">
						<input type="hidden" name="id" value="{{ user.id }}">
						<input type="submit" class="btn btn-danger" data-toggle="confirmation" value="Delete">
					</form>
					<a class="btn btn-primary pull-right" href="{{ url_for('user_edit', id=user.id) }}">Edit</a>
				</div>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

<script type="text/javascript">
	$(function() {  
		$('[data-toggle=confirmation]').confirmation({
			rootSelector: '[data-toggle=confirmation]',
			//btnOkLabel: 'Si',
			//btnCancelLabel: 'No'
		});
	});      
</script>
{% endblock %}
